# Relatórios de Análise V

## Tratamento de Dados Faltantes

In [7]:
import pandas as pd

In [8]:
dados = pd.read_csv('dados/aluguel_residencial.csv', sep = ';')

In [9]:
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
8,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0

In [10]:
dados.isnull()

        Tipo  Bairro  Quartos  Vagas  Suites   Area  Valor  Condominio   IPTU
0      False   False    False  False   False  False  False       False  False
1      False   False    False  False   False  False  False        True   True
2      False   False    False  False   False  False  False       False  False
3      False   False    False  False   False  False  False       False   True
4      False   False    False  False   False  False  False        True   True
5      False   False    False  False   False  False  False       False  False
6      False   False    False  False   False  False  False        True   True
7      False   False    False  False   False  False  False        True   True
8      False   False    False  False   False  False  False        True   True
9      False   False    False  False   False  False  False       False  False
10     False   False    False  False   False  False  False       False  False
11     False   False    False  False   False  False  False       False  False
12     False   False    False  False   False  False  False       False   True
13     False   False    False  False   False  False  False       False  False
14     False   False    False  False   False  False  False        True   True
15     False   False    False  False   False  False  False       False  False
16     False   False    False  False   False  False  False       False  False
17     False   False    False  False   False  False  False       False  False
18     False   False    False  False   False  False  False       False   True
19     False   False    False  False   False  False  False       False   True
20     False   False    False  False   False  False  False       False   True
21     False   False    False  False   False  False  False       False  False
22     False   False    False  False   False  False  False       False  False
23     False   False    False  False   False  False  False       False  False
24     False   False    False  False   False  False  False        True   True
25     False   False    False  False   False  False  False       False   True
26     False   False    False  False   False  False  False       False  False
27     False   False    False  False   False  False  False       False  False
28     False   False    False  False   False  False  False       False   True
29     False   False    False  False   False  False  False       False  False
...      ...     ...      ...    ...     ...    ...    ...         ...    ...
22301  False   False    False  False   False  False  False       False  False
22302  False   False    False  False   False  False  False       False  False
22303  False   False    False  False   False  False  False       False  False
22304  False   False    False  False   False  False  False       False  False
22305  False   False    False  False   False  False  False       False  False
22306  False   False    False  False   False  False  False       False   True
22307  False   False    False  False   False  False  False       False   True
22308  False   False    False  False   False  False  False       False  False
22309  False   False    False  False   False  False  False        True  False
22310  False   False    False  False   False  False  False       False  False
22311  False   False    False  False   False  False  False       False  False
22312  False   False    False  False   False  False  False       False  False
22313  False   False    False  False   False  False  False       False  False
22314  False   False    False  False   False  False  False       False  False
22315  False   False    False  False   False  False  False       False  False
22316  False   False    False  False   False  False  False       False  False
22317  False   False    False  False   False  False  False       False  False
22318  False   False    False  False   False  False  False       False  False
22319  False   False    False  False   False  False  False       False   True
22320  False   False    False  False   False  False  False       False  False
22321  False   False    False  False   False  False  False       False  False
22322  False   False    False  False   False  False  False       False  False
22323  False   False    False  False   False  False  False       False  False
22324  False   False    False  False   False  False  False       False   True
22325  False   False    False  False   False  False  False       False  False
22326  False   False    False  False   False  False  False       False  False
22327  False   False    False  False   False  False  False       False  False
22328  False   False    False  False   False  False  False       False  False
22329  False   False    False  False   False  False  False       False  False
22330  False   False    False  False   False  False  False       False   True

[22331 rows x 9 columns]

In [11]:
dados.notnull()

       Tipo  Bairro  Quartos  Vagas  Suites  Area  Valor  Condominio   IPTU
0      True    True     True   True    True  True   True        True   True
1      True    True     True   True    True  True   True       False  False
2      True    True     True   True    True  True   True        True   True
3      True    True     True   True    True  True   True        True  False
4      True    True     True   True    True  True   True       False  False
5      True    True     True   True    True  True   True        True   True
6      True    True     True   True    True  True   True       False  False
7      True    True     True   True    True  True   True       False  False
8      True    True     True   True    True  True   True       False  False
9      True    True     True   True    True  True   True        True   True
10     True    True     True   True    True  True   True        True   True
11     True    True     True   True    True  True   True        True   True
12     True    True     True   True    True  True   True        True  False
13     True    True     True   True    True  True   True        True   True
14     True    True     True   True    True  True   True       False  False
15     True    True     True   True    True  True   True        True   True
16     True    True     True   True    True  True   True        True   True
17     True    True     True   True    True  True   True        True   True
18     True    True     True   True    True  True   True        True  False
19     True    True     True   True    True  True   True        True  False
20     True    True     True   True    True  True   True        True  False
21     True    True     True   True    True  True   True        True   True
22     True    True     True   True    True  True   True        True   True
23     True    True     True   True    True  True   True        True   True
24     True    True     True   True    True  True   True       False  False
25     True    True     True   True    True  True   True        True  False
26     True    True     True   True    True  True   True        True   True
27     True    True     True   True    True  True   True        True   True
28     True    True     True   True    True  True   True        True  False
29     True    True     True   True    True  True   True        True   True
...     ...     ...      ...    ...     ...   ...    ...         ...    ...
22301  True    True     True   True    True  True   True        True   True
22302  True    True     True   True    True  True   True        True   True
22303  True    True     True   True    True  True   True        True   True
22304  True    True     True   True    True  True   True        True   True
22305  True    True     True   True    True  True   True        True   True
22306  True    True     True   True    True  True   True        True  False
22307  True    True     True   True    True  True   True        True  False
22308  True    True     True   True    True  True   True        True   True
22309  True    True     True   True    True  True   True       False   True
22310  True    True     True   True    True  True   True        True   True
22311  True    True     True   True    True  True   True        True   True
22312  True    True     True   True    True  True   True        True   True
22313  True    True     True   True    True  True   True        True   True
22314  True    True     True   True    True  True   True        True   True
22315  True    True     True   True    True  True   True        True   True
22316  True    True     True   True    True  True   True        True   True
22317  True    True     True   True    True  True   True        True   True
22318  True    True     True   True    True  True   True        True   True
22319  True    True     True   True    True  True   True        True  False
22320  True    True     True   True    True  True   True        True   True
22321  True    True     True   True    True  True   True        True   True
22322  True    True     True   True    True  True   True        True   True
22323  True    True     True   True    True  True   True        True   True
22324  True    True     True   True    True  True   True        True  False
22325  True    True     True   True    True  True   True        True   True
22326  True    True     True   True    True  True   True        True   True
22327  True    True     True   True    True  True   True        True   True
22328  True    True     True   True    True  True   True        True   True
22329  True    True     True   True    True  True   True        True   True
22330  True    True     True   True    True  True   True        True  False

[22331 rows x 9 columns]

In [12]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22331 entries, 0 to 22330
Data columns (total 9 columns):
Tipo          22331 non-null object
Bairro        22331 non-null object
Quartos       22331 non-null int64
Vagas         22331 non-null int64
Suites        22331 non-null int64
Area          22331 non-null int64
Valor         22322 non-null float64
Condominio    20670 non-null float64
IPTU          15696 non-null float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.5+ MB

In [14]:
dados['Valor'].isnull()

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
22301    False
22302    False
22303    False
22304    False
22305    False
22306    False
22307    False
22308    False
22309    False
22310    False
22311    False
22312    False
22313    False
22314    False
22315    False
22316    False
22317    False
22318    False
22319    False
22320    False
22321    False
22322    False
22323    False
22324    False
22325    False
22326    False
22327    False
22328    False
22329    False
22330    False
Name: Valor, Length: 22331, dtype: bool

In [15]:
dados[dados['Valor'].isnull()]

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
58,Apartamento,Barra da Tijuca,2,1,1,70,NaN,970.0,68.0
1479,Apartamento,Leme,2,0,0,75,NaN,878.0,NaN
1668,Casa,Campo Grande,3,4,3,363,NaN,NaN,NaN
1993,Apartamento,Botafogo,2,0,0,95,NaN,1010.0,170.0
2015,Apartamento,Copacabana,2,0,0,72,NaN,850.0,NaN
4893,Casa,Campo Grande,3,2,1,100,NaN,NaN,NaN
8481,Apartamento,Leme,2,0,1,75,NaN,878.0,NaN
8857,Apartamento,Glória,3,0,1,135,NaN,910.0,228.0
9059,Apartamento,Gávea,3,1,1,105,NaN,880.0,221.0

In [17]:
A = dados.shape[0]
dados.dropna(subset = ['Valor'], inplace = True)
B = dados.shape[0]
A - B

9

In [18]:
dados[dados['Valor'].isnull()]

Empty DataFrame
Columns: [Tipo, Bairro, Quartos, Vagas, Suites, Area, Valor, Condominio, IPTU]
Index: []

## Tratamento de Dados Faltantes (continuação)

In [19]:
dados[dados['Condominio'].isnull()].shape[0]

1659

In [22]:
selecao = (dados['Tipo'] == 'Apartamento') & (dados['Condominio'].isnull())

In [23]:
A = dados.shape[0]
dados = dados[~selecao]
B = dados.shape[0]
A - B

745

In [30]:
dados[dados['Condominio'].isnull()].shape[0]

0

In [32]:
dados = dados.fillna({'Condomino': 0, 'IPTU': 0})

In [33]:
dados[dados['IPTU'].isnull()].shape[0]

0

In [34]:
dados[dados['Condominio'].isnull()].shape[0]

0

In [35]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21577 entries, 0 to 22330
Data columns (total 9 columns):
Tipo          21577 non-null object
Bairro        21577 non-null object
Quartos       21577 non-null int64
Vagas         21577 non-null int64
Suites        21577 non-null int64
Area          21577 non-null int64
Valor         21577 non-null float64
Condominio    21577 non-null float64
IPTU          21577 non-null float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.6+ MB

In [37]:
dados.to_csv('dados/aluguel_residencial.csv', sep = ';', index = False)